---
// src/layouts/PostLayout.astro
import BaseLayout from '@/layouts/BaseLayout.astro';
import type { CollectionEntry } from 'astro:content'; 

interface Props {
  title: string;
  lang?: string;
  frontmatter?: CollectionEntry<'post'>['data']; 
}

const { title, lang, frontmatter } = Astro.props;
---
<BaseLayout title={title} lang={lang} description={frontmatter?.description}>
  <article class="max-w-4xl mx-auto px-4 py-10">
    <div class="prose prose-lg prose-slate max-w-none mx-auto prose-img:rounded-xl prose-headings:scroll-mt-20">
      <slot />
    </div>
  </article>
</BaseLayout>