__pycache__/
dist/
dist_itch/
*.egg-info/
emulator-data/
venv/
node_modules/
venv/
.DS_Store
*.py[cod]
.env
.jekyll-cache
.jekyll-metadata
.sass-cache
_site
firebase-debug.log
firestore-debug.log
vendor
