---
# copied from ~/.rbenv/versions/3.4.5/lib/ruby/gems/3.4.0/gems/minima-2.5.2/_layouts/default.html
# added script of giscus
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  <script src="https://giscus.app/client.js"
    data-repo="rayfos-fun/gblog"
    data-repo-id="R_kgDOOkblUg"
    data-category="General"
    data-category-id="DIC_kwDOOkblUs4C0EFw"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="{{ lang }}"
    crossorigin="anonymous"
    async>
  </script>

    {%- include footer.html -%}

  </body>

</html>
