---
layout: default
# copied from ~/.rbenv/versions/3.4.5/lib/ruby/gems/3.4.0/gems/minima-2.5.2/_layouts/post.html
# edited
#   add post-navigation
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<hr>

{% assign paths = page.url | split: '/' %}
{% assign lang = paths[1] %}
{% assign type = paths[2] %}
{% if lang == 'zh-tw' and type == 'game' %}
  {% assign collections = site.games-zh-tw %}
{% elsif lang == 'zh-tw' and type == 'post' %}
  {% assign collections = site.posts | where: 'lang', 'zh-tw' %}
{% elsif lang == 'zh-tw' and type == 'story' %}
  {% assign collections = site.stories-zh-tw %}
{% elsif lang == 'en' and type == 'game' %}
  {% assign collections = site.games-en %}
{% elsif lang == 'en' and type == 'post' %}
  {% assign collections = site.posts | where: 'lang', 'en' %}
{% elsif lang == 'en' and type == 'story' %}
  {% assign collections = site.stories-en %}
{% endif %}

{% for collection in collections %}
  {% if collection.url == page.url %}
    {% assign current_index = forloop.index0 %}
  {% endif %}
{% endfor %}

{% assign prev_index = current_index | minus: 1 %}
{% assign next_index = current_index | plus: 1 %}
{% assign prev_collection = collections[prev_index] %}
{% assign next_collection = collections[next_index] %}


<div class="collection-navigation" style="display: flex; justify-content: space-between;">
  {% if prev_collection %}
    <a href="{{ prev_collection.url | relative_url }}" class="previous-collection">
      &laquo; <span>{{ prev_collection.title }}</span>
    </a>
  {% endif %}

  {% if next_collection %}
    <a href="{{ next_collection.url | relative_url }}" class="next-collection" style="text-align: right">
      <span>{{ next_collection.title }}</span> &raquo;
    </a>
  {% endif %}
</div>